/** @format */

.header-wrapper {
  position: fixed;
  width: 100%;
  left: 0px;
  top: 0px;
  padding: 10px 20px;
  padding-bottom: 0px;
  background-color: #ffffff;
}

.status-bar {
  padding: 0 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #636363;
}

.status-bar .status-bar__battery {
  margin-left: 5px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 0px;
}

.header .header__column {
  display: flex;
  align-items: center;
}

.header .header__left-btn {
  font-size: 18px;
  margin-right: 20px;
}
.header .header__title {
  font-size: 20px;
  font-weight: 700;
}

.header .header__icons {
  display: flex;
  align-items: center;
}

.header .header__icon {
  cursor: pointer;
  font-size: 18px;
  margin-right: 20px;
}
.header .header__icon:last-child {
  margin-right: 0px;
}

@keyframes fromTop {
  from {
    transform: translateY(-100px);
  }
  to {
    transform: none;
  }
}

.header-wrapper {
  transform: translateY(-100px);
  animation: fromTop 0.5s ease-in-out forwards;
  animation-delay: 0.5s;
}
