/** @format */

.tab-bar {
  position: fixed;
  width: 100%;
  bottom: 0px;
  left: 0px;
  padding: 15px 40px;
  background-color: #fcfcfc;
  border-top: 1px solid #f8f8f8;
}

.tab-bar .tab-bar__tabs {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tab-bar .tab-bar__tab {
  font-size: 18px;
  position: relative;
}

@keyframes fromBottom {
  from {
    transform: translateY(80px);
  }
  to {
    transform: none;
  }
}

.tab-bar {
  transform: translateY(80px);
  animation: fromBottom 0.5s ease-in-out forwards;
  animation-delay: 0.5s;
}
