/** @format */

.find .find__add-btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 10px;
}

.find .find__add-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 24px;
}

.find__add-btn span {
  margin-top: 10px;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.7);
}
.find__friends-list {
  border-top: 1px solid #f8f8f8;
  margin-top: 25px;
  padding-top: 15px;
}

.find__title {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 7.5px;
}

.find__friends-list .find__friend {
  padding: 7.5px 0px;
}
